# - 데이터 타입과 변수, 그리고 출력 2강

In [2]:
print('Hello World!')

Hello World!

In [1]:
print(1 + 2)
print((1 + 2)*3)

3
9

## Exer 1.

In [2]:
print("Hello World!")

Hello World!

## Exer 2.

In [3]:
print("I don't like C language")

I don't like C language

# - 데이터 타입과 변수, 그리고 출력 3강

In [9]:
digit1 = 1
digit2 = 10
name = "Dave"
age = 24

In [11]:
print(digit1 * digit2 * age)

240

## Exer 5.

In [12]:
num1 = 2
num2 = 4

print(num1 + num2)
print(num1 * num2)
print(num1 / num2)

6
8
0.5

In [13]:
num = False

In [18]:
print(3 < 7)
print(10 < 3)
print(15 > 7)
print(3 >= 3)
print(3 <= 10)
print(34 == 100)
print(34 != 100)

True
False
True
True
True
False
True

In [19]:
1num = 1

SyntaxError: invalid syntax (<ipython-input-19-13a7af36eef5>, line 1)

## Small Project 1

In [20]:
age = 20
name = "유승한"
height = 174
weight = 58
foot_size = 275
glass = False
marriage = False
sex = "male"
hobby = "Computer"
special = "Computer"

In [21]:
print(age, name, height)

20 유승한 174

# - 데이터 타입과 변수, 그리고 출력 4강

## Small Project 2

In [24]:
r = 10
pi = 3.1415
print(r * 2) # 지름
print(2 * pi * r) # 둘레
print(pi * r ** 2) # 넓이

20
62.830000000000005
314.15000000000003

## Small Project 2(출력 개선)

In [25]:
r = 10
pi = 3.1415
print("지름은 : ",r * 2) # 지름
print("둘레는 : ",2 * pi * r) # 둘레
print("넓이는 : ",pi * r ** 2) # 넓이

지름은 :  20
둘레는 :  62.830000000000005
넓이는 :  314.15000000000003

In [26]:
name = input()

Dave

In [27]:
name = input("What is your name? ")

What is your name?Dave

In [29]:
name1 = 'name1'
name2 = 'name2'
name1
name2

'name2'

In [30]:
name = input("What is your name? ")
print("HI!", name)

What is your name? YooSeungHan
HI! YooSeungHan

In [31]:
digit = input()
digit

1

'1'

In [32]:
digit1 = input()
digit2 = input()

print(digit1 * digit2)

4 5
4

TypeError: can't multiply sequence by non-int of type 'str'

In [33]:
float(3)

3.0

In [34]:
int(3.6)

3

In [35]:
str(1)

'1'

In [36]:
digit_str = '123'
digit_int = int(digit_str)
print(digit_int)
print(type(digit_int))

123
<class 'int'>

In [37]:
digit1 = int(input())
digit2 = int(input())

print(digit1 * digit2)

2
4
8

## 연산
## 변수
## 변수 타입(type, int, float, str, bool)
## 입력과 출력(input, print)


# - 문자열 다루기 기본

In [48]:
article = """South Korean director Bong Joon-ho has won the Cannes film festival's most prestigious award.

The Palme d'Or was awarded for his film Parasite, a dark comedy thriller exploring social class dynamics.

The festival came to a close this evening after 11 days of previews of new films and documentaries.

It saw French-Senagalese director Mati Diop become the first black female director to win an award in Cannes' 72-year history.

Diop won the Grand Prix - the equivalent of a silver prize - for Atlantics, a Senegalese drama about young migrants and sexual politics.

Ghouls, goals and rock 'n' roll at Cannes
'Why can only guys make movies?'
Quentin Tarantino's 'brilliant' Hollywood return
Diop had previously said she was "a little sad" that it had taken until 2019 for a film by a woman of African descent to even be screened at the festival.

Meanwhile, US director Quentin Tarantino's latest film Once Upon a Time in Hollywood - which received strong reviews - left the closing ceremony empty handed."""

In [49]:
print(article.count("o"))
print(len(article))
print(article.find("S")) # 가장 처음은 몇번째
print(article.replace("Bong Joon-ho", "Yoo Seung Han"))

57
1007
0
South Korean director Yoo Seung Han has won the Cannes film festival's most prestigious award.

The Palme d'Or was awarded for his film Parasite, a dark comedy thriller exploring social class dynamics.

The festival came to a close this evening after 11 days of previews of new films and documentaries.

It saw French-Senagalese director Mati Diop become the first black female director to win an award in Cannes' 72-year history.

Diop won the Grand Prix - the equivalent of a silver prize - for Atlantics, a Senegalese drama about young migrants and sexual politics.

Ghouls, goals and rock 'n' roll at Cannes
'Why can only guys make movies?'
Quentin Tarantino's 'brilliant' Hollywood return
Diop had previously said she was "a little sad" that it had taken until 2019 for a film by a woman of African descent to even be screened at the festival.

Meanwhile, US director Quentin Tarantino's latest film Once Upon a Time in Hollywood - which received strong reviews - left the closing ceremony empty handed.

In [52]:
print(article[0])
print(article[-1])
print(article[5])

S
.

In [53]:
string1 = "python"

In [56]:
print (string1)
print (string1[2])
print (string1[2:4])

python
t
th

In [61]:
some_string = ",,,computer..."
print (some_string)
print (some_string.strip(","))
print (some_string.strip("."))

,,,computer...
computer...
,,,computer

# 출력 포맷과 입력

In [71]:
string = "I have a {}, I have an {}."
print (string.format("pen", "apple"))

print ("I have a {}, I have an {}.".format("pen", "apple"))
print ("I have a {1}, I have an {0}.".format("pen", "apple"))
print ("I have a {0}, I have an {0}.".format("pen", "apple"))

interest = 0.087
print (format(interest, ".2f"))

I have a pen, I have an apple.
I have a pen, I have an apple.
I have a apple, I have an pen.
I have a pen, I have an pen.
0.09

In [70]:
print ("I have a %s, I have an %s" % ("pen", "apple"))

I have a pen, I have an apple

## Exer 3.

In [72]:
digit = 3.1415
print(format(digit,".1f"))

3.1

## Exer 4.

In [73]:
data1 = "720"
print(int(data1))

data2 = 100
print(str(data2))

720
100

## Exer 6.

In [74]:
print(6 ** 2)

36

## Exer 7.

In [75]:
num1 = int(input())
num2 = int(input())
print(num1 + num2)

2
4
6

## Exer 8.

In [1]:
num1 = int(input())
num2 = int(input())

print(num1 + num2)
print(num1 * num2)
print(num1 / num2)

5
6
11
30
0.8333333333333334

## Exer 9.

In [2]:
num1 = int(input())
num2 = int(input())

print(num1 + num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)

4
8
12
32
0.5
0
4

## Exer 10.

In [3]:
num1 = int(input())
num2 = int(input())

print(num1, "+", num2, "=", num1 + num2)
print(num1, "*", num2, "=", num1 * num2)
print(num1, "/", num2, "=", num1 / num2)
print(num1, "//", num2, "=", num1 // num2)
print(num1, "%", num2, "=", num1 % num2)

13
5
13 + 5 = 18
13 * 5 = 65
13 / 5 = 2.6
13 // 5 = 2
13 % 5 = 3

## Exer 11.

In [5]:
num1 = int(input())
num2 = int(input())

print(num1, "+", num2, "=", num1 + num2)
print(num1, "*", num2, "=", num1 * num2)
print(num1, "/", num2, "=", format(num1 / num2, "0.1f"))
print(num1, "//", num2, "=", num1 // num2)
print(num1, "%", num2, "=", num1 % num2)

13
5
13 + 5 = 18
13 * 5 = 65
13 / 5 = 2.6
13 // 5 = 2
13 % 5 = 3

# 데이터 구조 - 리스트 1

In [9]:
location = ['서울시', '경기도', '인천시']

In [8]:
print(location)

['서울시', '경기도', '인천시']

In [10]:
location.append("부산시")

In [11]:
location

['서울시', '경기도', '인천시', '부산시']

In [12]:
location.append('대전시', '울산시')

TypeError: append() takes exactly one argument (2 given)

In [13]:
location.append('대전시')

In [25]:
location.insert(1,'경기도')

In [26]:
location

['부산시', '경기도', '대전시']

In [27]:
location[1:3]

['경기도', '대전시']

In [28]:
location.remove('경기도')

In [29]:
location

['부산시', '대전시']

In [30]:
del location[0]

In [31]:
location

['대전시']

In [32]:
location = list()
location.append('서울시')
location.append('경기도')
location[1]

'경기도'

## 리스트 변수

1. 리스트 선언
```
    - 리스트변수 = []
    - 리스트변수 = list()
    - 리스트변수 = [데이터1, 데이터2, ...]
```
2. 리스트 추가
```
    - 리스트변수.append(데이터)
    - 리스트변수.insert(인덱스번호, 데이터)
```
3. 리스트 삭제
```
    - 리스트변수.remove(데이터)
    - del 리스트변수[인덱스번호]
```
4. 리스트 데이터 수정
```
    - 리스트변수[인덱스번호] = 수정할 데이터
```

In [33]:
location

['서울시', '경기도']

In [34]:
location[1] = '부천시'
location

['서울시', '부천시']

In [35]:
location = ['서울시', '부천시', 1, 2.1, True]
location

['서울시', '부천시', 1, 2.1, True]

## SmallProject1

In [38]:
lang = ["java", "c", "c++"]
lang

['java', 'c', 'c++']

In [39]:
lang.append("golang")
lang

['java', 'c', 'c++', 'golang']

In [46]:
del lang[3]
lang

['c', 'java', 'c++']

In [44]:
lang[0] = "c"
lang[1] = "java"

In [45]:
lang

['c', 'java', 'c++', 'golang']

# 데이터 구조 - 리스트 2

In [47]:
numbers = [2, 1, 4, 3]
print(numbers)

numbers.sort()
print(numbers)

numbers.reverse()
print(numbers)

[2, 1, 4, 3]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [50]:
python_is_easy = "python is easy"
string_list = python_is_easy.split()

In [51]:
string_list

['python', 'is', 'easy']

In [49]:
python_is_easy

'python is easy'

# 조건문 익히기 1

In [2]:
age = input("나이 : ")
age_digit = int(age)
print(age_digit)

나이 : 25
25

In [3]:
if age_digit > 19:
    print("19금")

19금

In [4]:
age1 = input("철수 나이 : ")
age_digit1 = int(age1)

age2 = input("영희 나이 : ")
age_digit2 = int(age2)

if age_digit1 >= 19 and age_digit2 >= 19:
    print("19금")

철수 나이 : 19
영희 나이 : 20
19금

In [5]:
if not age_digit1 < 19:
    print("19금")

19금

In [7]:
cash = int(input("현금 : "))
if cash > 100000:
    print("레스토랑으로 간다")

현금 : 120000
레스토랑으로 간다

# 조건문 익히기 2

## SmallProject3

In [9]:
age = int(input("나이 : "))
if age >= 19:
    print("당신은 성인입니다.")
else:
    print("당신은 청소년입니다.")

나이 : 17
당신은 청소년입니다.

## SmallProject5

In [10]:
age = int(input("나이 : "))
if age >= 19:
    print("당신은 성인입니다.")
elif age >= 13:
    print("당신은 청소년입니다.")
else:
    print("당신은 아동입니다.")
print("안녕하세요")

나이 : 18
당신은 청소년입니다.

# 조건문 익히기 3

In [12]:
cash = int(input("현금 : "))
if cash > 100000:
    print("go to restaurant")
else:
    if cash > 50000:
        print("go to bobjib")
    else:
        print("go to home")

현금 : 55000
go to bobjib

# 문자열, 리스트, 조건문 활용 1, 2

## Exer 12.

In [13]:
data1 = 10
data2 = 2.2
data3 = 'fun-coding'

print(type(data1), type(data2), type(data3))

<class 'int'> <class 'float'> <class 'str'>

## Exer 13.

In [14]:
code = '000660\n00000102\t12312312'
print(code)
# \n - 줄바꾸기
# \t - tap만금 띄우기

000660
00000102	12312312

## Exer 14.

In [15]:
num1 = int(input())
num2 = int(input())

if num1 >= num2:
    print(num1)
else:
    print(num2)

5
7
7

## Exer 15.

In [16]:
num = int(input())
if num % 2 == 0:
    print("짝수")
else:
    print("홀수")

5
홀수

## Exer 16.

In [17]:
num1 = int(input())
num2 = int(input())
num3 = int(input())

print(min(num1, num2, num3))

5
8
4
4

## Exer 17.

In [18]:
score = int(input())
if score <= 100 and score >= 0:
    if score >= 81:
        print("A")
    elif score >= 61:
        print("B")
    else:
        print("C")

89
A

## Exer 18.

In [19]:
data = input()
print(data[0:2])

800001
80

## Exer 19.

In [21]:
data = input().split("-")
print(data[1][0])

800001-1231231
1

## Exer 20.

In [23]:
data = input().split("-")
if data[1][0] == '1':
    print("남성")
elif data[1][0] == '2':
    print("여성")

800001-1231231
남성

## Exer 21.

In [25]:
mystr = "a man goes into the room..."
print(mystr.strip("."))

a man goes into the room

## Exer 22.

In [32]:
mystr = '              000660\n              '
print(mystr.strip(" \n"))

000660

## Exer 23.

In [34]:
python_desc = "Python is an interpreted high-level programming language for general-purpose programming. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace."
print(python_desc.count('Python'))

2

## Exer 24.

In [35]:
python_desc = "Python is an interpreted high-level programming language for general-purpose programming. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace."
print(python_desc.count('p'))

9

## Exer 25.

In [36]:
letters = 'python'
print(letters[1],letters[3])

y h

## Exer 26.

In [39]:
letters = input()

if letters.count("n") >= 1:
    print(0)
else:
    print(-1)

raisudhrkiasudrn
0

## Exer 27.

In [40]:
letters = input()

if letters.count("n") >= 1:
    print("n이 들어있습니다.")
else:
    print("n이 안들어있습니다.")

iuasehroiasuenrasen
n이 들어있습니다.

## Exer 28.

In [43]:
data = input().split("-")
birth = int(data[1][1:3])
if birth >= 0 and birth <= 8:
    print("서울")
elif birth <= 12:
    print("부산")

800001-1111231
부산

## Exer 29.

In [44]:
letters = 'Dave,David,Andy'
print(letters.split(','))

['Dave', 'David', 'Andy']

## Exer 30.

In [45]:
filename = 'exercise01.docx'
print(filename.split('.')[0])

exercise01

# 반복문 익히기 1

In [46]:
for i in ["python", "java", "golang"]:
    print(i)

python
java
c++

In [47]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [48]:
range(3) # [0, 1, 2]

range(0, 3)

```
for data in 리스트변수:
    실행코드

for data in range(반복횟수):
    실행코드
```

# 반복문 익히기 2

In [49]:
sum_val = 0
for i in range(1, 11):
    sum_val += i
print(sum_val)

55

In [1]:
name = ''
while name != "foo bar":
    name = input("What's your name? ")
    print("Hi," + name + " So, where is foo bar")

What's your name? foo bar
Hi,foo bar So, where is foo bar

In [ ]:
#while 1:
#    print("Hello World")

# 반복문 활용 1, 2

## Exer 31 ~ 48.

In [2]:
# exer 31.
sum_val = 0
for i in range(1, 11):
    sum_val += i
print(sum_val)

55

In [4]:
# exer 32.
num = int(input())
for i in range(1, 10):
    print(f'{num} X {i} = {num*i}')

9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [5]:
# exer 33.
name = input().split(',')
for i in name:
    print(i)

Dave,David,Andy,Arthor
Dave
David
Andy
Arthor

In [6]:
# exer 34.
name = input().split(',')
for i in name:
    print(i.strip('[]'))

[Dave],[David],[Andy],[Arthor]
Dave
David
Andy
Arthor

In [7]:
# exer 35.
for i in range(1, 31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [8]:
# exer 36.
sum_val = 0
i = 1
while i <= 100:
    sum_val += i
    i += 1
print(sum_val)

5050

In [9]:
# exer 37.
data = input('비밀번호 : ')
while data != '4312':
    print("틀렸습니다.")
    data = input('비밀번호 : ')
print("맞습니다.")

비밀번호 : 4345
틀렸습니다.
비밀번호 : 23847
틀렸습니다.
비밀번호 : 4312
맞습니다.

In [10]:
# exer 38.
num_list = [0, -11, 31, 22, -11, 33, -44, -55]
plus_list = []
for i in num_list:
    if i >= 0:
        plus_list.append(i)
print(plus_list)

[0, 31, 22, 33]

In [11]:
# exer 39.
list_data = ["fun-coding", "Dave", "Linux", "Python", "javascript", "front-end", "back-end", "dataengineering"]
for i in list_data:
    print(len(i))

10
4
5
6
10
9
8
15

In [14]:
# exer 40.
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(9, -1, -1):
    print(data[i])

10
9
8
7
6
5
4
3
2
1

In [15]:
# exer 40-1.
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
data.reverse()
for i in data:
    print(i)

10
9
8
7
6
5
4
3
2
1

In [17]:
# exer 41.
filelist = ['exercise01.docx', 'exercise02.docx', 'exercise03.docx', 'exercise04.docx', 'exercise05.docx']
for i in filelist:
    print(i.split('.')[0])

exercise01
exercise02
exercise03
exercise04
exercise05

In [23]:
# exer 42.
filelist = ['exercise01.docx', 'exercise02.csv', 'exercise03.txt', 'exercise04.hwp']
for i in filelist:
    if i.split('.')[1] == 'txt':
        print(i)

exercise03.txt

In [24]:
# exer 43.
price = input().split()
if price[1] == '달러':
    print(int(price[0]) * 1112,"원")

100 달러
111200 원

In [25]:
# exer 44.
price = input().split()
if price[1] == '달러':
    print(int(price[0]) * 1112,"원")
elif price[1] == '위안':
    print(int(price[0]) * 171,"원")

110 위안
18810 원

In [34]:
# exer 45.
exchange = {'달러' : 1112, '위안' : 171, '엔' : 10}
price = input().split()
for i in exchange.keys():
    if price[1] == i:
        print(int(price[0]) * exchange[i], '원')

100 엔
1000 원

In [35]:
# exer 46.
for i in range(2,10):
    for j in range(1, 10):
        print(f'{i} X {j} = {i*j}')
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [36]:
# exer 47.
for i in range(2,10):
    for j in range(1, 10):
        if i * j % 2 == 0:
            print(f'{i} X {j} = {i*j}')
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 2 = 6
3 X 4 = 12
3 X 6 = 18
3 X 8 = 24

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 2 = 10
5 X 4 = 20
5 X 6 = 30
5 X 8 = 40

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 2 = 14
7 X 4 = 28
7 X 6 = 42
7 X 8 = 56

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 2 = 18
9 X 4 = 36
9 X 6 = 54
9 X 8 = 72

In [37]:
# exer 48.
dongs = ["6209동", "6208동", "6207동"]
hos = ["101호", "102호", "103호", "104호"]

for i in dongs:
    for j in hos:
        print(i,j)
    print()

6209동 101호
6209동 102호
6209동 103호
6209동 104호

6208동 101호
6208동 102호
6208동 103호
6208동 104호

6207동 101호
6207동 102호
6207동 103호
6207동 104호